<article class="feedback">

    <h2 class="h2">{{date}}</h2>


    <h3>{{by.name}}</h3>

    <section class="feedback-content">
        <h4 class="">Content</h4>

        <section class="feedback-pros">
            <h5 class="">Good</h5>
            <ul>
            </ul>
        </section>
        <section class="feedback-cons">
            <h5 class="">Can do better</h5>
        </section>
    </section>

    <section class="feedback-presentation">
        <h4 class="">Presentation</h4>
        <section class="feedback-pros">
            <h5 class="">Good</h5>
        </section>
        <section class="feedback-cons">
            <h5 class="">Can do better</h5>
        </section>
    </section>

    <section class="feedback-summary">
        <h4 class="">Summary</h4>
    </section>
</article>
