<div class="self talks">
    <h1 class="">My Talks</h1>
    <ul>
    {{#each}}
        <li class="talk">
            {{#link-to 'talk' this}}
            <h2 class=""> {{title}} </h2>
            {{/link-to}}
        </li>
    {{/each}}
    </ul>
</div>
